/* (Mini) Reset do CSS para resetar as propriedades mais comuns 
que são aplicadas pelo navegador, a fim de eliminar possiveis 
incompatibilidades entre os navegadores. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
}

/* Estilos definidos para a pagina de documentação */

body {
    width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5{
    font-size: 30pt;
    margin-top: 10px;
}


p, table {
    margin: 25px 0;
}

td, th, caption  {
    font-size: 16pt
}
tr:nth-child(odd) {
    background-color:rgb(54, 139, 28);
}

p {
    line-height:1.5;
    font-size: 16pt;
    margin-left: 20px;
    text-align: justify;

}

p {
    margin: 10px 0;
}

.conteiner {
    height: 700px;
    background-color: rgb(128, 130, 133);
    border: 5px solid #180808;
}


.contido {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 102, 0);
    border: 5px solid #0000ff;
    border-radius: 10%;
    text-align: center;
    line-height: 90px;
    font-style: italic;
}

.contido-align {
    width: auto;
    height: 100px;
    background-color: aqua;
    border: 5px solid #12124d;
    text-align: center;
    line-height: 90px;
}    

.display-flex {
    display: flex;
}
.justify-content-center {
    justify-content: flex-start;
    width: 40px;
}
.justify-content-Space-around {
    justify-content: space-around;
}

.justify-content-Space-Between {
    justify-content: space-between;
}

.justify-content-Space-Evenly {
    justify-content: space-evenly;
}
.justify-content-Center {
    justify-content: center;
}
.justify-content-Start {
    justify-content: start;
}
.justify-content-Flex-End {
    justify-content:flex-end;
}

.flex-direction-row {
    flex-direction:row;
}

.flex-direction-row-reverse {
    flex-direction:row-reverse;
}    

.flex-direction-column {
    flex-direction:column;
}    

.flex-direction-column-reverse {
    flex-direction:column-reverse;
}    
.flex-direction-initial {
    flex-direction:initial;
}

.flex-direction-inherit {
    flex-direction:inherit;
}

.display-flex-align {
    align-items:stretch;
}

.display-flex-align-center {
    align-items:center;
}
.display-flex-align-start {
    align-items:start;
}
.display-flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.display-flex-wrap-wrap {
    flex-wrap: wrap;
}

.display-flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.display-flex-flow-row-wrap {
    flex-flow: row;
}

.display-flex-align-content-start {
    flex-wrap: wrap;
    align-content: start;
}
.display-flex-align-content-space-between {
    flex-wrap: wrap;
    align-content: space-between;
}

.display-flex-align-content-space-around {
    flex-wrap: wrap;
    align-content: space-around;
}



